#mini-logo {
    position: fixed;
    right: 2%;
    bottom: 1%;
    height: 10%;
    width: 10%;
    background-repeat: no-repeat;
    background-image: url("../resources/logo cinephile title 2.png");
    background-position: center;
    background-size: contain;
    opacity: 33%;
    z-index: 500;
}


#pagina-titulo {
    padding-left: 16px;
    font-size: 500%;
    padding-bottom: 100px;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 0.15em #c0c0c09c, 0 0 0.15em #c0c0c09c;
}

#galeria-filmes {
    /* width: 100%;
    margin: 0px;
    padding: 0px; */
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

