#mini-logo {
    position: fixed;
    right: 2%;
    bottom: 1%;
    height: 10%;
    width: 10%;
    background-repeat: no-repeat;
    background-image: url("../resources/logo cinephile title 2.png");
    background-position: center;
    background-size: contain;
    opacity: 33%;
    z-index: 500;
}


#pagina-titulo, #pagina-titulo-reflexo {
    position: absolute;
    padding-left: 16px;
    /* padding-bottom: 16px; */
    font-size: 20vw;
    /* padding-bottom: 100px; */
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 0.15em #c0c0c09c, 0 0 0.15em #c0c0c09c;
}

#pagina-titulo-reflexo {
    /* content: attr(title); */
    /* position: absolute; */
    /* top: 0px; */
    color: black;
    text-shadow: none;
    left: 60px;
    top: 20vw;
    margin-top: -32px;
    transform:          scale(1.006, -1) skewX(-50deg);
    /* -moz-transform:     scale(1, -1);
    -webkit-transform:  scale(1, -1);
    -o-transform:       scale(1, -1);
    -ms-transform:      scale(1, -1); */
    transform-origin: center;
    /* font-style: italic; */
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5) 80%); */
    /* -webkit-text-fill-color: transparent; */
    -webkit-background-clip: text;
}

#galeria-filmes {
    /* width: 100%;
    margin: 0px;
    padding: 0px; */
    width: 100%;
    padding-top: 50vh;
    padding-left: 8px;
    padding-right: 8px;
}

