#mini-logo {
    position: fixed;
    right: 2%;
    bottom: 1%;
    height: 10%;
    width: 10%;
    background-repeat: no-repeat;
    background-image: url("../resources/logo cinephile title 2.png");
    background-position: center;
    background-size: contain;
    opacity: 33%;
    z-index: 500;
}

h1 {
    display: inline;
    position: relative;
}

#pagina-titulo, #pagina-titulo-reflexo {
    color: #e8a8a0;
    user-select: none;
    /* padding-left: 8vw; */
    /* padding-bottom: 16px; */
    /* padding-bottom: 100px; */
    font-size: calc(8vw + 8vh);
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 0.15em #c0c0c09c, 0 0 0.15em #c0c0c09c;
    z-index: 50;
}

#pagina-titulo-reflexo {
    position: absolute;
    text-shadow: none;
    top: calc(5.4vw + 5.4vh);
    /* margin-top: -32px; */
    transform: scale(1, -1);
     /* skewX(-60deg) */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, #ac6e667b 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* #galeria-filmes {
    padding-top: 15%;
    height: 100%;
} */

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
} */

  ion-grid.galeria {
    display: block;
    /* top: 30%; */
    width: 100%;
    height: 100%;
    /* padding: 50px; */
    /* --ion-grid-columns: 4; */
  }

.filtro {
    /* top: 5vh; */
    right: calc(1.5vh + 8px);
}


