#card-filme {
    border: 2px solid black;
    /* width: 30vw;
    min-width: 300px; */
    width: auto;
    max-width: 600px;
    height: 100vw;
    max-height: 800px;
    margin: auto;
    /* left: 50%;
    margin-left: -400px; */
    margin-bottom: 32px;
    background-color: black;
    box-shadow: 0 0 .5em black;
}

#card-filme ion-card-title {
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 0.15em #c0c0c09c, 0 0 0.15em #c0c0c09c;
}


